.Notifications__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
  margin-bottom: 20px;
  overflow: auto;
  cursor: grab;
}
.Notifications__container::-webkit-scrollbar {
  display: none;
}

.Notifications__signout__warning {
  display: none;
}

.focused {
  position: absolute;
  right: 1.5px;
  top: 360px;
  padding: 3px;
  line-height: 1rem;
  background-color: #e94f4a;
  color: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 8px;
  display: block;
  z-index: 10;
}

.Notifications__signout {
  background: none;
  border: none;
  font-size: 0.7rem;
  cursor: pointer;
}

.Notifications__signout:hover {
  transition: 1s ease-in;
  text-decoration: underline;
}

.Notifications__signout:focus {
  outline: none;
}
